.dashboard{
    padding:40px;
    background:#f5f7fb;
    min-height:100vh;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;
    flex-wrap:wrap;
}
.card{
    width:250px;
    padding:25px;
    border-radius:15px;
    background:linear-gradient(135deg,#4f46e5,#7c3aed);
    color:white;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.card h3{
    margin-bottom:15px;
    color:#4f46e5;
}

.card p{
    font-size:28px;
    font-weight:bold;
}
.ai-box{
    width:80%;
    margin:40px auto;
    background:#eef2ff;
    padding:20px;
    border-radius:10px;
    text-align:left;
}

.ai-box h2{
    color:#4f46e5;
}

.table-box{
    width:90%;
    margin:40px auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

th{
    background:#4f46e5;
    color:white;
}
.card:hover{
    transform:translateY(-8px);
}
.chart-box{
    width:90%;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.chart{
    margin-top:20px;
}

.income-bar{
    width:80%;
    background:#22c55e;
    color:white;
    padding:12px;
    border-radius:8px;
    margin-bottom:15px;
}

.expense-bar{
    width:45%;
    background:#ef4444;
    color:white;
    padding:12px;
    border-radius:8px;
}
.actions{
    width:90%;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.actions h2{
    color:#4f46e5;
    margin-bottom:20px;
}

.action-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.action-btn{
    padding:15px 25px;
    border:none;
    border-radius:10px;
    background:#4f46e5;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.action-btn:hover{
    background:#3730a3;
    transform:translateY(-5px);
}
.chart-container{
    width:90%;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.chart-container h2{
    margin-bottom:20px;
    color:#4f46e5;
}