.notification-box{
    background:white;
    margin-top:30px;
    padding:25px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.notification-box h2{
    margin-bottom:20px;
}

.notification{
    padding:15px;
    margin-bottom:15px;
    border-radius:10px;
    font-weight:500;
}

.success{
    background:#dcfce7;
    color:#15803d;
}

.warning{
    background:#fef3c7;
    color:#92400e;
}

.info{
    background:#dbeafe;
    color:#1d4ed8;
}